#dineBrukere{
    font-size: 45px;
    margin-left: -30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#dineBrukere2{
    margin-left: -100px;
}
.btn{
    border: 1px solid rgb(136, 136, 136);
    box-shadow: 0.1px 0px 2px;
}
a{
    color: black;
    text-decoration: none;
}
#brukernavn-button, #passord-button{
    border: 1px solid rgb(136, 136, 136);
    box-shadow: 0.1px 0px 2px;
    border-radius: 6px;
}
.form-group{
    margin-left: 50px;
}
.names{ /* Under tittelene (premier osv):*/
    margin-top: 0px;
}
.bi{
    position: absolute;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 7px;
    color: black;
}
#leggTilBruker{ /* Pluss logoen er her:*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22.5px;
    position: absolute;
}
#plussLogo{
    margin-top: -40px;
    margin-left: -50px;
    font-size: 30px;
    color: grey;
}
#plussLogo:hover{ /* Her kan jeg redigere farge til pluss knappen*/
    color: black;
}
#oppgaveUtfort{
    font-size: 22.5px;
    margin-top: -20px;
}
img{
    width: 100px;
}



.floating-img {
    float: right;
    margin: -20px; 
    max-width: 20%; 
    height: auto; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
}

body {
    min-width: 320px; 
}


#seOppgave{
    margin-bottom: 50px;
}









.popup-container {
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    margin: 20px auto;
    max-width: 80%;
    margin-top: -100px;
    margin-left: 50px;
}

.popup-content {
    position: relative;
}

.btn-close {
    position: absolute;
    top: 0px;
    left: 0px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Responsiv design */
@media (max-width: 576px) {
    .popup-container {
        width: 90%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .popup-container {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .popup-container {
        width: 100%;
    }
}
