#dineBrukere{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn{
    font-family: 'Franklin Gothic Light';
    border: 1px solid rgb(136, 136, 136);
    box-shadow: 0.1px 0px 2px;
    padding: 5px 55px 15px;
    font-size: 22.5px;
    margin-top: 20px;
}
#brukernavn-button, #passord-button{
    border: 1px solid rgb(136, 136, 136);
    box-shadow: 0.1px 0px 2px;
    border-radius: 6px;
}
.form-group{
    margin-left: 50px;
}
.names{
    margin-top: 10px;
}
.bi{
    position: absolute;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 7px;
    color: black;
}
#leggTilBruker{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22.5px;
}
#plussLogo{
    margin-top: -4px;
    margin-left: 20px;
    font-size: 30px;
}
